.nav-logo {
  width: 180px;
  height: 40px;
}
.logo-1 a {
  text-decoration: none !important;
  display: inline-block;
}
.logo-1 h3 {
  color: #fff;
  font-weight: 500;
  font-size: 25px;
  line-height: 1.3;
  padding-left: 10px;
  padding-top: 10px;
}
.logo-1 p {
  font-size: 14px;
  letter-spacing: 8px;
  text-transform: uppercase;
  padding-left: 10px;
  color: #34495e;
  font-weight: 600;
}
.cart-btn {
  padding: 5px 15px 5px 15px;
  color: #212529;
  border-radius: 20px !important;
  border: 0.5px solid #051b35;
  background: #fff !important;
  text-decoration: none;
}
.navbar {
  font-size: 16px;
  font-weight: 400;
  background-color: #e6a756 !important;
  box-shadow: 0 0 8px 0 rgba(57, 78, 234, 0.1);
}

.navbar div {
  background-color: #e6a756 !important;
}

.TopSectionDown {
  margin-bottom: 80px;
}
